#park-footer {
  position: relative;
  padding: 2rem;
  text-align: left;
  overflow: hidden; 
  background-image: url(../../images/image.png);
  background-repeat: repeat;
  background-size: auto;
  min-height: 200px;
  background-position: bottom;
}

#park-footer .footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;

}

#park-footer * {
  position: relative;
  z-index: 1;
}