.intro {
  max-width: 80%;
  padding:0rem 1rem ;
  text-align: left;
  margin: 0;
  margin-bottom: 0.5rem;
}

.intro h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin: 0 auto;
}

.intro p {
  font-size: 1.1rem;
  text-align: left;
  margin:0.5rem;
}
