.intro {
  max-width: 80%;
  padding:0rem 1rem ;
  text-align: left;
  margin: 0;
  margin-bottom: 0.5rem;
}

.intro h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin: 0 auto;
}

.intro p {
  font-size: 1.1rem;
  text-align: left;
  margin:0.5rem;
}
@media (max-width: 768px) {
  .hero-banner__content {
    max-width: 100%;
    bottom: 15px;
    left: 0px;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
  }

  .hero-banner__icons {
    gap: 0.6rem;
  }
}